#table {
    /*grid-column: 1/3;
    grid-row: 1/4; *?/* use first three rows */
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
}

#active-card-pane {
    /*grid-column: 2;
    grid-row: 1/3;*/ /* use first two rows */
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
}

#chat-pane {
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
