body {
    font-size: 100%;
    height: 100%;
    background-image: url('../../images/nebula.jpg');
    background-repeat: no-repeat;
    background-color: #000000;
    margin: 0;
}

#centerContainer {
    display: flex;
    flex-direction: column;
}

#banner {
    background-color: #222222CC;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#banner-title {
    grid-column: 1 / 5;
    grid-row: 1 / 3;
    z-index: 0;
}

#banner-subtitle {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
}

#splash {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    z-index: 1;
}

#login {
    flex-grow: 4;
    display: grid;
    grid-row-gap: 10px;
}

#status {
    margin: 0;
    color:white;
    overflow: visible;
}

#error {
    margin: 0;
    color: #ff0000;
}

#interaction {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

#info {
    text-align: center;
    background-color: #222222CC;
    color: white;
}

.sw-shoutout {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    font-size: 90%;
}

.ui-button-text-only .ui-button-text {
    font-size: 70%;
    padding: .2em .5em;
}

a {
    color: #BF6B04;
}

a:visited {
    color: #A63F03;
}