.three-d-card-scene {
    /* height: 300px;
    width: 200px;
    */
    width: 100%;
    height: 100%;
    perspective: 600px;
}

.three-d-card {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.three-d-card.facedown {
    transform: rotateY(180deg);
}

.card__face {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}

.card__face--back {
    z-index: 1;
    transform: rotateY( 180deg );
}

.card__face--front {
    background-color:#596ac2;
    align-content: center;
    text-align: center;
}


.card, .card_img, .fullCardImgHorizontal, .fullCardImgVertical {
    border-radius: 3.5%;
}

.borderOverlay {
    position: absolute;
    top: 0px;
    left: 0px;
    border: 0px solid #000000;
    border-radius: 3.5%;
}

.foilOverlay {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.2;
}

.tokenOverlay {
    position: absolute;
    top: 0px;
    right: 0px;
    margin-top: 5%;
    margin-right: 5%;
    min-width: 20px;
    width: 10%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: flex-start; /* T to B, aligned top */
    align-items: center; /* L to R */
}

.tokenOverlay * {
    min-width: 0;
    min-height: 0;
    max-width: 100%;
    flex: 0 1 20px;
}

.fullCardDivHorizontal, .fullCardDivVertical {
    border-radius: 3.5%;
    position: relative;
}

.noBorderOverlayHorizontal, .noBorderOverlayVertical, .borderOverlayHorizontal, .borderOverlayVertical, .foilOverlayHorizontal, .foilOverlayVertical, .fullCardWrapper {
    border-radius: 3.5%;
    position: absolute;
}

.noBorderOverlayHorizontal, .noBorderOverlayVertical {
    border-width: 0px;
}

.borderOverlayHorizontal, .borderOverlayVertical {
    border-width: 16px;
}

.noBorderOverlayHorizontal, .foilOverlayHorizontal, .fullCardDivHorizontal, .fullCardImgHorizontal {
    width: 497px;
    height: 357px;
}

.noBorderOverlayVertical, .foilOverlayVertical, .fullCardDivVertical, .fullCardImgVertical {
    width: 357px;
    height: 497px;
}

.borderOverlayHorizontal {
    width: 465px;
    height: 325px;
}

.borderOverlayVertical {
    width: 325px;
    height: 465px;
}

.card-group {
    border-radius: 7px;
}