.three-d-card-scene {
    /* height: 300px;
    width: 200px;
    */
    width: 100%;
    height: 100%;
    perspective: 600px;
}

.three-d-card {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.three-d-card.facedown {
    transform: rotateY(180deg);
}

.card__face {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}

.card__face--back {
    z-index: 1;
    transform: rotateY( 180deg );
}

.card, .card_img {
    border-radius: 3.5%;
}

.borderOverlay {
    position: absolute;
    top: 0px;
    left: 0px;
    border: 0px solid #000000;
    border-radius: 3.5%;
}

.foilOverlay {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.2;
}

.tokenOverlay {
    position: absolute;
    top: 0px;
    right: 0px;
    margin-top: 5%;
    margin-right: 5%;
    min-width: 20px;
    width: 10%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: flex-start; /* T to B, aligned top */
    align-items: center; /* L to R */
}

.tokenOverlay * {
    min-width: 0;
    min-height: 0;
    max-width: 100%;
    flex: 0 1 20px;
}


.fullCardDivHorizontal {
    width: 357px;
    height: 497px;
    transform: rotate(-0.25turn);
}

.fullCardDivVertical {
    width: 357px;
    height: 497px;
}

.card-group {
    border-radius: 7px;
}